{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}
<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
    aria-describedby="{{ localPosition }}Label"
  >
    {% render 'icon-polygon' %}
    <span class="ml-[7px] uppercase font-semibold">{{ localization.language.iso_code | capitalize }}</span> 
  </button>
  <div style="border-width:0; top: 3.2rem; bottom:unset;" class="disclosure__list-wrapper right-0" hidden>
    <ul id="{{ localPosition }}List" role="list" class="bg-white text-black py-0 divide-y divide-black border border-black border-solid w-32">
      {%- for language in localization.available_languages -%}
        <li class="disclosure__item uppercase" tabindex="-1">
          <a
            class="p-4 flex gap-x-2 text-sm{% if language.iso_code == localization.language.iso_code %}text-primary disclosure__link--active{% endif %} focus-inset"
            href="#"
            hreflang="{{ language.iso_code }}"
            lang="{{ language.iso_code }}"
            {% if language.iso_code == localization.language.iso_code %}
              aria-current="true"
            {% endif %}
            data-value="{{ language.iso_code }}"
          >
            {{ language.iso_code | capitalize }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
