<div class="careers">
    <div
        class="container text-center px-2 md:px-0 md:pt-[120px] md:pb-24">
        <h2 class="max-sm:text-4xl md:mb-14">{{ section.settings.careers_heading }}</h2>
        <div id="careers"> 
        {% paginate blogs.career.articles by 1 %}
            {% for article in blogs.career.articles %}
                <a href="{{ article.url }}">
                    <div class="md:flex flex-row items-center gap-y-2.5 text-left bg-white p-[7px]">
                        <div class="basis-3/5 py-2 md:pl-5">
                            <div class="text-primary text-[13px]">{% for tag in article.tags %}  {{ tag }} {% endfor %} </div>
                            <h3 class="mb-3 ">{{ article.title }}</h3>
                            <p class="mb-4 ">{{ article.excerpt }}</p>
                            <button class="inline-block border border-solid border-primary px-11 py-3.5 text-black bg-white hover:bg-primary hover:text-white text-sm leading-[14px] uppercase rounded-[30px]">Apply</button>
                        </div>
                        <div class="basis-2/5 bg-cover bg-center w-full h-44" style="background-image:url({{ article.image.src | img_url: 'original' }})" title="{{ article.title }}"><span></span></div>
                    </div>
                </a>
            {% endfor %}
            {% if paginate.next %}
                <div id="loadMore"><a href="{{ paginate.next.url }}">Load More</a></div>
            {% endif %}
        {% endpaginate %}
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        $(document).on('click', '#loadMore a', function(e) {
            e.preventDefault();
            let moreButon = $(this).parent();
            let nextUrl = $(this).attr("href");
            $.ajax({
                url: nextUrl,
                type: 'GET',
                beforeSend: function() {
                moreButon.remove();
                }
            })
            .done(function(data) {
                // Append data
                $('#careers').append($(data).find('#careers').html());
            });
        });
    });
</script>

{% schema %}
  {
    "name": "careers",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "careers_heading",
            "label": "Heading",
            "default": "Open roles"
        }
    ],
    "presets": [
        {
          "name": "Careers Listing"
        }
    ]
}
{% endschema %}