<div class="careers">
    <div
        class="container text-center px-2 md:px-0 md:pt-[120px] md:pb-24">
        <h2 class="max-sm:text-4xl md:mb-14">{{ section.settings.careers_heading }}</h2>
        <div id="careers"> 
        {% paginate blogs.career.articles by 1 %}
            {% for article in blogs.career.articles %}
                <div class="md:flex flex-row items-center text-center relative">
                    <div class="basis-1/2 p-3 md:p-6">
                        <div>
                            {% for tag in article.tags %}
                                {{ tag }}
                            {% endfor %}
                        </div>
                        <h3 class="text-primary mb-2 ">{{ article.title }}</h3>
                        <p>{{ article.excerpt }}</p>
                    </div>
                     <div class="basis-1/2"><img src="{{ article.image.src | img_url: 'medium' }}"></div>
                </div>
            {% endfor %}
            {% if paginate.next %}
                <div id="loadMore"><a href="{{ paginate.next.url }}">Load More</a></div>
            {% endif %}
        {% endpaginate %}
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        $(document).on('click', '#loadMore a', function(e) {
            e.preventDefault();
            let moreButon = $(this).parent();
            let nextUrl = $(this).attr("href");
            $.ajax({
                url: nextUrl,
                type: 'GET',
                beforeSend: function() {
                moreButon.remove();
                }
            })
            .done(function(data) {
                // Append data
                $('#careers').append($(data).find('#careers').html());
            });
        });
    });
</script>

{% schema %}
  {
    "name": "careers",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "careers_heading",
            "label": "Heading",
            "default": "Open roles"
        }
    ],
    "presets": [
        {
          "name": "Careers Listing"
        }
    ]
}
{% endschema %}