<div
  class="counter bg-primary">
  <div
    class="container p-6">
    <div class="grid grid-cols-1 md:grid-cols-3">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'counter_block' %}
            <div class="col text-white">
              <h1 id="id-{{ block.settings.counter_number }}">{{ block.settings.counter_number }}</h1>
              <h2>{{ block.settings.counter_heading }}</h2>
              <p>{{ block.settings.counter_description }}</p>
            </div>
            <script>
              counterNumber("id-{{ block.settings.counter_number }}");
            </script>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "counter",
    "tag": "section",
    "class": "section",
    "max_blocks": 3,
    "blocks": [
       {
         "name": "Counter Block",
         "type": "counter_block",
         "settings": [
           {
            "type": "number",
            "id": "counter_number",
            "label": "Number",
            "default": 20
           },{
            "type": "text",
            "id": "counter_heading",
            "label": "Heading",
            "default": "Title"
          },{
            "type": "textarea",
            "id": "counter_description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis vitae enim at scelerisque. Pellentesque gravida pretium interdum."
          }
         ]
       }
    ],    
    "presets": [
        {
          "name": "Counter"
        }
      ]
  }
{% endschema %}