<div class="timeline" id="timeline">
    <div
        class="container text-center px-2 xl:px-0 pt-6 lg:pt-[120px]  lg:pb-24">
        <h2 class="max-lg:text-4xl lg:mb-14">{{ section.settings.timeline_heading }}</h2>
        <div class="grid max-sm:grid-cols-1 md:grid-rows-2 md:grid-flow-col gap-6">
            {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'timeline_block' %}
                    <div class="timeline_block lg:opacity-0 lg:flex {{block.settings.timeline_image_position}} items-center text-center relative">
                        <div class="basis-1/2 p-3 md:p-6">
                            <div class="text-primary year Evolventa-Bold text-4xl mb-2 lg:text-7xl lg:leading-[65px]">{{ block.settings.timeline_year }}</div>
                            <p>{{ block.settings.timeline_description }}</p>
                        </div>
                         <div class="basis-1/2">
                            {%- if block.settings.timeline_image != blank -%}
                                <img src="{{ block.settings.timeline_image | image_url }}" />
                            {%- endif -%}
                        </div>
                    </div>
                 {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
  if(typeof isInViewport !== "function"){
    function isInViewport(el) {
        const rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)

        );
    }
  }
  var inViewT = false;
  var iT = 0;
  function timelineBlockScript(){
    const timelineBlock = document.querySelector('#timeline h2');
    if(isInViewport(timelineBlock)){
      inViewT = true;
    }
    if(inViewT == true && iT == 0){
      ++iT;
      var time = 700;
      const eachtimelineBlock = document.querySelectorAll('.timeline_block');
      [].forEach.call(eachtimelineBlock, function(el) {
        setInterval(function(){
            el.classList.remove("opacity-0")
        }, time);
        time += 700;
      });
      
    }
  }
  document.addEventListener('scroll', timelineBlockScript);
</script>

{% schema %}
  {
    "name": "timeline",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "timeline_heading",
            "label": "Heading",
            "default": "We are transforming the world."
        }
    ],
    "max_blocks": 4,
    "blocks": [
       {
         "name": "Timeline Block",
         "type": "timeline_block",
         "settings": [
            {
                "type": "image_picker",
                "id": "timeline_image",
                "label": "Timeline Image"
            },{
                "type": "select",
                "id": "timeline_image_position",
                "options": [
                  {
                    "value": "flex-row-reverse",
                    "label": "Image on left"
                  }, {
                    "value": "flex-row",
                    "label": "Image on right"
                  }
                ],
                "default": "flex-row",
                "label": "Image Position"
            },{
            "type": "number",
            "id": "timeline_year",
            "label": "Year",
            "default": 2023
           },{
            "type": "textarea",
            "id": "timeline_description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis vitae enim at scelerisque. Pellentesque gravida pretium interdum."
          }
         ]
       }
    ],    
    "presets": [
        {
          "name": "Timeline"
        }
    ]
  }
{% endschema %}