<div class="timeline">
    <div
        class="container text-center px-2 md:px-0 md:py-[120px]">
        <h2 class="max-sm:text-4xl md:mb-14">{{ section.settings.timeline_heading }}</h2>
        <div class="grid max-sm:grid-cols-1 md:grid-rows-2 md:grid-flow-col gap-6">
            {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'timeline_block' %}
                    <div class="md:flex {{block.settings.timeline_image_position}} items-center text-center relative">
                        <div class="basis-1/2 p-3 md:p-6">
                            <div class="text-primary year Evolventa-Bold text-4xl mb-2 md:text-7xl md:leading-[65px]" data-target="{{ block.settings.timeline_year }}">{{ block.settings.timeline_year }}</div>
                            <p>{{ block.settings.timeline_description }}</p>
                        </div>
                         <div class="basis-1/2">
                            {%- if block.settings.timeline_image != blank -%}
                                <img src="{{ block.settings.timeline_image | image_url }}" />
                            {%- endif -%}
                        </div>
                    </div>
                 {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "timeline",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "text",
            "id": "timeline_heading",
            "label": "Heading",
            "default": "We are transforming the world."
        }
    ],
    "max_blocks": 4,
    "blocks": [
       {
         "name": "Timeline Block",
         "type": "timeline_block",
         "settings": [
            {
                "type": "image_picker",
                "id": "timeline_image",
                "label": "Timeline Image"
            },{
                "type": "select",
                "id": "timeline_image_position",
                "options": [
                  {
                    "value": "flex-row-reverse",
                    "label": "Image on left"
                  }, {
                    "value": "flex-row",
                    "label": "Image on right"
                  }
                ],
                "default": "flex-row",
                "label": "Image Position"
            },{
            "type": "number",
            "id": "timeline_year",
            "label": "Year",
            "default": 2023
           },{
            "type": "textarea",
            "id": "timeline_description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis vitae enim at scelerisque. Pellentesque gravida pretium interdum."
          }
         ]
       }
    ],    
    "presets": [
        {
          "name": "Timeline"
        }
    ]
  }
{% endschema %}